In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/admin/Downloads/Marketing data.csv")

In [4]:
df.head()

,Order No,Order Date,Customer Name,Customer Type,Account Manager,Order Priority,Product Name,Product Category,Ship Mode,Ship Date,Cost Price,Retail Price
0,5014-1,11-02-2013,Patrick Jones,Home Office,Yvette Biti,High,Artisan Heavy-Duty EZD Binder With Locking Rings,Office Supplies,Regular Air,12-02-2013,3.52,5.58
1,5016-1,11-02-2013,Alex Russell,Home Office,Connor Betts,High,"DrawIt Pizazz Watercolor Pencils, 10-Color Set...",Office Supplies,Regular Air,12-02-2013,2.39,4.26
2,5018-1,12-02-2013,Tamara Dahlen,Corporate,Leighton Forrest,Critical,"Message Book, One Form per Page",Office Supplies,Express Air,14-02-2013,2.41,3.71
3,5019-1,13-02-2013,Susan Vittorini,Home Office,Yvette Biti,High,Cando S750 Color Inkjet Printer,Technology,Delivery Truck,15-02-2013,75.00,120.97
4,5020-1,14-02-2013,Muhammed Yedwab,Consumer,Nicholas Fernandes,Critical,"Steady EarthWrite Recycled Pencils, Medium Sof...",Office Supplies,Regular Air,15-02-2013,0.90,2.10

In [7]:
df.shape

(15, 12)

In [4]:
df['Profit'] = df['Retail Price'] - df['Cost Price']

In [5]:
df.head(3)

,Order No,Order Date,Customer Name,Customer Type,Account Manager,Order Priority,Product Name,Product Category,Ship Mode,Ship Date,Cost Price,Retail Price,Profit
0,5014-1,11-02-2013,Patrick Jones,Home Office,Yvette Biti,High,Artisan Heavy-Duty EZD Binder With Locking Rings,Office Supplies,Regular Air,12-02-2013,3.52,5.58,2.06
1,5016-1,11-02-2013,Alex Russell,Home Office,Connor Betts,High,"DrawIt Pizazz Watercolor Pencils, 10-Color Set...",Office Supplies,Regular Air,12-02-2013,2.39,4.26,1.87
2,5018-1,12-02-2013,Tamara Dahlen,Corporate,Leighton Forrest,Critical,"Message Book, One Form per Page",Office Supplies,Express Air,14-02-2013,2.41,3.71,1.30

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order No          15 non-null     object
 1   Order Date        15 non-null     object
 2   Customer Name     15 non-null     object
 3   Customer Type     15 non-null     object
 4   Account Manager   15 non-null     object
 5   Order Priority    15 non-null     object
 6   Product Name      15 non-null     object
 7   Product Category  15 non-null     object
 8   Ship Mode         15 non-null     object
 9   Ship Date         15 non-null     object
 10  Cost Price        15 non-null     float64
 11  Retail Price      15 non-null     float64
 12  Profit            15 non-null     float64
dtypes: float64(3), object(10)
memory usage: 1.7+ KB

In [25]:
df.describe()

       Cost Price  Retail Price     Profit
count   15.000000     15.000000  15.000000
mean    22.844667     37.528000  14.683333
std     32.677023     53.465678  20.799706
min      0.870000      1.680000   0.590000
25%      1.140000      2.350000   1.250000
50%      3.520000      5.580000   2.060000
75%     45.155000     74.290000  29.135000
max     99.390000    162.930000  63.540000

In [26]:
df['Order Priority'].value_counts()

Order Priority
High             4
Critical         4
Medium           4
Not Specified    2
Low              1
Name: count, dtype: int64

In [27]:
df['Account Manager'].value_counts()

Account Manager
Yvette Biti           3
Phoebe Gour           3
Connor Betts          2
Leighton Forrest      2
Nicholas Fernandes    1
Radhya Staples        1
Natasha Song          1
Tina Carlton          1
Samantha Chairs       1
Name: count, dtype: int64

In [28]:
df.groupby(['Order Priority','Account Manager']).size()

Order Priority  Account Manager
Critical        Leighton Forrest      1
                Nicholas Fernandes    1
                Phoebe Gour           2
High            Connor Betts          1
                Phoebe Gour           1
                Yvette Biti           2
Low             Yvette Biti           1
Medium          Connor Betts          1
                Radhya Staples        1
                Samantha Chairs       1
                Tina Carlton          1
Not Specified   Leighton Forrest      1
                Natasha Song          1
dtype: int64

In [29]:
df['Product Category'].value_counts()

Product Category
Office Supplies    14
Technology          1
Name: count, dtype: int64

In [30]:
df['Ship Mode'].value_counts()

Ship Mode
Regular Air       13
Express Air        1
Delivery Truck     1
Name: count, dtype: int64

In [31]:
df.groupby(['Product Category','Ship Mode']).size()

Product Category  Ship Mode
Office Supplies   Express Air        1
                  Regular Air       13
Technology        Delivery Truck     1
dtype: int64

In [34]:
df.groupby('Account Manager')['Profit'].mean()

Account Manager
Connor Betts           2.310000
Leighton Forrest      18.745000
Natasha Song           3.270000
Nicholas Fernandes     1.200000
Phoebe Gour           28.736667
Radhya Staples         0.790000
Samantha Chairs       36.190000
Tina Carlton           0.940000
Yvette Biti           16.513333
Name: Profit, dtype: float64

In [42]:
df['Order Date'].mode()

0    11-02-2013
1    25-02-2013
Name: Order Date, dtype: object

In [43]:
df['Ship Date'].mode()

0    12-02-2013
1    15-02-2013
2    22-02-2013
3    23-02-2013
4    27-02-2013
Name: Ship Date, dtype: object

In [46]:
df['Customer Type'].value_counts()

Customer Type
Corporate         7
Home Office       5
Consumer          2
Small Business    1
Name: count, dtype: int64

In [47]:
df.groupby(['Order Priority','Account Manager','Product Category','Ship Mode'])['Profit'].mean()

Order Priority  Account Manager     Product Category  Ship Mode
Critical        Leighton Forrest    Office Supplies   Express Air        1.300
                Nicholas Fernandes  Office Supplies   Regular Air        1.200
                Phoebe Gour         Office Supplies   Regular Air       32.065
High            Connor Betts        Office Supplies   Regular Air        1.870
                Phoebe Gour         Office Supplies   Regular Air       22.080
                Yvette Biti         Office Supplies   Regular Air        2.060
                                    Technology        Delivery Truck    45.970
Low             Yvette Biti         Office Supplies   Regular Air        1.510
Medium          Connor Betts        Office Supplies   Regular Air        2.750
                Radhya Staples      Office Supplies   Regular Air        0.790
                Samantha Chairs     Office Supplies   Regular Air       36.190
                Tina Carlton        Office Supplies   Regular Air        0.940
Not Specified   Leighton Forrest    Office Supplies   Regular Air       36.190
                Natasha Song        Office Supplies   Regular Air        3.270
Name: Profit, dtype: float64